.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex: 1;
    min-width: 0;
}

.grid-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    /* width: 480px; */
    min-height: 370px;
    padding: 0.3em 1.2em;
    border-radius: 15px;
    box-shadow: 10px  10px 20px rgb(181, 179, 179);
    transition: 0.7s;
    border: transparent 10px solid;
    border-width: 0;

}

.grid-card.flag {
    border: var(--color-purple) 10px solid;
    transition: 0.7s;
    /* font-size: smaller; */
}

.grid-card:hover {
    transform: scale(1.05);
}

.grid-card-content {
    width: 100%;
    height: 100%;
    margin: 1em 2em;
    color: black;
    /* background: black; */
}

.grid-card.today {
    background: var(--color-red);
}

.grid-card.today {
    background-image: linear-gradient(125deg, var(--color-red), var(--color-red-light));
}

.grid-card.weekly {
    background-image: linear-gradient(125deg, var(--color-orange), var(--color-orange-light));
}

.grid-card.monthly {
    background-image: linear-gradient(125deg, var(--color-yellow), var(--color-yellow-light));
}

.grid-card.later {
    background-image: linear-gradient(125deg, var(--color-blue), var(--color-blue-light));
}

.grid-card.complete {
    background-image: linear-gradient(125deg, var(--color-green), var(--color-green-light))
}

.grid-card.today:hover {
    background-image: linear-gradient(125deg, var(--color-red), var(--color-red-light));
    box-shadow: 10px 10px 20px var(--color-red);
}

.grid-card.weekly:hover {
    background-image: linear-gradient(125deg, var(--color-orange), var(--color-orange-light));
    box-shadow: 10px  10px 20px var(--color-orange);
}

.grid-card.monthly:hover {
    background-image: linear-gradient(125deg, var(--color-yellow), var(--color-yellow-light));
    box-shadow: 10px  10px 20px var(--color-yellow);
}

.grid-card.later:hover {
    background-image: linear-gradient(125deg, var(--color-blue), var(--color-blue-light));
    box-shadow: 10px  10px 20px var(--color-blue);
}

.grid-card.complete:hover {
    background-image: linear-gradient(125deg, var(--color-green), var(--color-green-light));
    box-shadow: 10px  10px 20px var(--color-green);
}

.grid-card-content-box {
    display: flex;
    height: 1.8em;
    /* background: white; */
    border-radius: 5px;
    justify-content: baseline;
    align-items: center;
    margin: 1em 0;
    transition: 0.7s;
}

.grid-card-project-button {
    height: 2em;
    /* background: white; */
    border-radius: 5px;
    justify-content: baseline;
    align-items: center;
    margin: 1em 0;
    transition: 0.7s;
    background: transparent;
    border: 3px solid white;
    color: white;
    width: 100%;
}

.grid-card-project-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.grid-card-content-box.today {
    background: var(--color-red-light);
}
.grid-card-content-box.weekly {
    background: var(--color-orange-light);
}
.grid-card-content-box.monthly {
    background: var(--color-yellow-light);
}

.grid-card-content-box.later {
    background: var(--color-blue-light);
}
.grid-card-content-box.complete {
    background: var(--color-green-light);
}

.grid-card-content-box.description {
    min-height: 1.8em;
    height: auto;
}

.card-text {
    font-weight: 500;
    padding: 0.5em;
}

.description-input.description {
    height: 5em;
}

/* CARD ICONS */

.card-icon {
    margin: 4px;
    width: 20px;
    height: 20px;
}

.card-icon:hover {
    cursor: pointer;
}

.complete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

.complete-button:hover {
    cursor: pointer;
}

.complete-svg {
    fill: var(--color-green);
    width: 20px;
    height: 20px;
}

.flag-button {
    background-color: white;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.flag-button.active {
    background-color: var(--color-purple);
}

.delete-button,
.edit-button {
    background-color: white;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

/* FORM */
.form-input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
}

.edit-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-form-button {
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    width: 80px;
    height: 2.5em;
    color: white;
    margin-bottom: 15px;
    margin: 2em 1em;
}

.edit-form-button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* DROPDOW */
.dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey);
    border-radius: 5px;
    font-size: smaller;
    padding: 5px;
    z-index: 10;
}

.dropdown.today {
    border: 5px solid var(--color-red-light);
}

.dropdown.active {
    display: block;
}

.dropdown-item {
    width: 100%;
    display: block;
    cursor: pointer;
    /* margin: 10px 5px; */
    font-weight: 500;
}

.dropdown-item.today {
    display: block;
    cursor: pointer;
    margin: 10px 5px;
    font-weight: 500;
    background: var(--color-red-light);
    color: white;
}










