*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  background: white;
  height: 95%;
  width: 20%;
  min-width: 180px;
  max-width: 230px;
  margin: 1em;
  border-radius: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: yellow;
  height: 100%;
  width: 80%;
}

/* MENU SECTION */

.menu-reminder,
.menu-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
}

.menu-reminder-list,
.menu-projects-list {
  margin-top: 1em;
  padding-left: 0;
}

.menu-item {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.menu-icon {
  height: 20px;
  width: auto;
  margin-right: 0.5em;
}

#icon-all {
  fill: red;
}


